---
const {
  text,
  type = "primary",
  link,
} = Astro.props as {
  text: string;
  link?: string;
  type?: ButtonType;
};

const globalClasses =
  "button btn inline-flex items-center justify-center px-10 md:px-20  rounded-full text-lg";

type ButtonType = "primary" | "secondary" | "tertiary" | "link";

const typeClasses: Record<ButtonType, string> = {
  primary:
    "primary-button border border-white transparent-text transparent-text",
  secondary: "border border-white",
  tertiary: "bg-purple",
  link: "bg-transparent border-transparent",
};

const buttonClasses = `button ${globalClasses} ${typeClasses[type]}`;
---

<button class={buttonClasses} data-text={text}>
  <a href={link}> <span class="button-text font-medium">{text}</span></a>
</button>

<style>
  .button {
    line-height: inherit;
    padding-top: 0.75em;
    padding-bottom: 0.7em;
  }

  .primary-button {
    position: relative;
    color: black;
    mix-blend-mode: screen;
  }

  .primary-button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    border-radius: 2em;
    content: "";
    mix-blend-mode: color-burn;
    pointer-events: none;
  }

  /* .button-text {
    line-height: 20px;
    display: block;
    transition: transform 0.3s ease;
  } */

  /* .primary-button:hover .button-text {
    transform: scale(1.2);
  } */
</style>
