---
import H3 from "../components/H3.astro";
import { Image } from "astro:assets";
import gradientBackground from "../images/backgrounds/gradient-2000.png";
import { getImage } from "astro:assets";

const { header, title, text, icon, link, classes, rounded } = Astro.props as {
  header: string;
  title: string;
  text: string;
  icon: any;
  link: string;
  classes?: string;
  rounded?: boolean;
};

const optimizedBackground = await getImage({
  src: gradientBackground,
});

const imageRounded = rounded ? "rounded-full" : "rounded-xl";
---

<div class=`${
  classes ?? ""
}`>
  <a href={link}>
    <div class="py-6">
      <!-- <div
        style={`background-image: url('${optimizedBackground.src}'); background-size: cover; background-repeat: no-repeat; background-position: bottom left;`}
        class="card px-4 py-5 pb-8 flex flex-col items-center w-full h-full"
      > -->
      <div
        class="card px-4 py-5 pb-8 flex flex-col items-center w-full h-full border-2 bg-slate-900 drop-shadow-[0px_0px_5px_rgba(255,255,255,0.75)]"
      >
        <div
          class=`max-w-36 flex items-center w-full mb-4 ${imageRounded} overflow-hidden`
        >
          <Image src={icon} alt="icon" width="300" height="250" />
        </div>
        <div>
          <H3 centered="True" header={header} />
        </div>
        <div class="mb-2">
          <span class="text-base">{title}</span>
        </div>
        <span class="text-center leading-[1.6rem]">{text}</span>
      </div>
    </div></a
  >
</div>

<style>
  .image {
  }
  .card {
    position: relative;
    border-radius: 15px;
    z-index: 1;
  }

  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: -1;
  }

  .card p,
  h3 {
    position: relative;
    z-index: 2;
  }
</style>
