---
import Card from '../components/Card.astro';
import codeIcon from '../images/icons/code-icon-1.png';
import dataIcon from '../images/icons/data-icon-1.png';
import designIcon from '../images/icons/design-icon-1.png';
import cmsIcon from '../images/icons/cms.png';
import seoIcon from '../images/icons/seo.png';
import pmIcon from '../images/icons/pm.png';
---

<section>
  <div class='container container-large'>
    <div class='padding-global py-20 lg:py-32'>
      <div class='padding-extra'>
        <div class='flex w-full flex-col'>
          <div class='flex'>
            <h2 class='mb-8'>My Skills</h2>
          </div>

          <!-- 3 Boxes -->
          <div class='flex items-stretch'>
            <div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-16'>
              <Card
                header='Website/CMS Management'
                text="I manage and optimize website content using CMS's like WordPress, Webflow, and Sanity, streamlining workflows and building new features to support writers, marketers, designers, and developers."
                icon={cmsIcon}
                classes='w-full '
                nudge='-left-1'
              />
              <Card
                header='Web Development'
                text='I build responsive, high-performing websites and applications using cutting-edge web technologies including Javascript/Typescript, React, Next, and AWS.'
                icon={codeIcon}
                classes='w-full'
                nudge='-left-1'
              />
              <Card
                header='Data-Driven Optimization'
                text='I boost conversions and sales using analytics-driven insights from Hubspot, Google Analytics, Optimizely, and Hotjar, as well as code-focused solutions like SQL and pandas.'
                icon={dataIcon}
                classes='w-full'
                nudge='-left-1'
              />
              <Card
                header='SEO & Content Strategy'
                text='I improve search rankings and organic visibility through technical SEO, structured content, and keyword-driven strategies, ensuring content reaches the right audience.'
                icon={seoIcon}
                classes='w-full'
                nudge='-left-1'
              />
              <Card
                header='UX/UI Design'
                text='I create frictionless user journeys and easy-to-navigate interfaces using Miro and Figma to boost engagement and accomplish business objectives.'
                icon={designIcon}
                classes='w-full '
                nudge='-left-1'
              />
              <Card
                header='Project Management'
                text='I bring together designers, developers, and marketers to successfully deliver high-impact digital projects on time, within budget, and built to scale.'
                icon={pmIcon}
                classes='w-full '
                nudge='-left-1'
              />
            </div>
          </div>

          <!-- Center Aligned -->
          <!-- <div class="flex justify-center">
            <h2 class="text-center mb-8 max-w-2xl lg:max-w-6xl">
              I use my holistic knowledge of engineering, user behavior, and
              data analysis to polish ideas to perfection.
            </h2>
          </div>
          <div class="mt-4"></div>

          <div class="flex justify-center items-stretch">
            <div class="grid grid-cols-1 lg:grid-cols-3">
            <div
              class="flex flex-col justify-center lg:flex-row items-center gap-2"
            >
              <Card
                header="Front-End Development"
                text="I build responsive, high-performing digital experiences using cutting-edge web technologies including Javascript, Typescript, React, Next, and Supabase."
                icon={codeIcon}
                classes="w-full max-w-xl xl:w-1/3"
              />
              <Card
                header="UX/UI Design"
                text="I utilize my background in UX copywriting and UI design to create frictionless user journeys, boosting engagement and accomplishing business objectives."
                icon={designIcon}
                classes="w-full max-w-xl xl:w-1/3"
              />
              <Card
                header="Data-Driven Optimization"
                text="I make analytics-based improvements that boost KPIs by effectively utilizing Google Analytics, Optimizely, and Python libraries like pandas and matplotlib."
                icon={dataIcon}
                classes="w-full max-w-xl xl:w-1/3"
              />
            </div>
          </div> -->

          <!-- classes="lg:pl-6 lg:w-1/2 xl:w-1/3 h-full" -->
          <!--
        V-SHAPED LAYOUT
        <div>
        <div class="flex flex-wrap items-center justify-center gap-12">
          <Card
            header="Front-End Development"
            text="I specialize in cutting-edge web development technologies including Javascript, Typescript, React, Next, and Astro to build responsive, accessible, and performant web experiences."
            className="w-full md:w-2/5"
          />
          <Card
            header="User-Experience Design"
            text="With an extensive background in UX copywriting, design, and research, I create seamless customer journeys and highly-intuitive interfaces that foster lasting user engagement and loyalty."
            className="w-full md:w-2/5"
          />
          <Card
            header="Data-Driven Optimization"
            text="I utilize data and optimization tools like Google Analytics, Optimizely, and Python/Pandas to make analytics-based improvements to improve KPI's and drive conversions."
            className="w-full md:w-2/5"
          />
        </div>
      </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
